# XML exercise

Using data from [**mondial database**](https://drive.google.com/file/d/14lFT4nWHgwN36ij4XZh6OUuup-K9qLgR/view?usp=sharing) find the answers to following questions:

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [68]:
import xml.etree.ElementTree as ET

import numpy as np

import pandas as pd

In [11]:
mondial = ET.parse('/Users/mitchellpalmer/Projects/Lighthouse Lab Projects/JSON_XML/Data/mondial.xml')

In [12]:
print(type(mondial))

<class 'xml.etree.ElementTree.ElementTree'>

In [ ]:
roots = mondial.getroot()
roots

In [14]:
print(roots.tag)
print(roots.attrib)
print(len(roots))

mondial
{}
3403

In [95]:
country_data = []

for country in roots.findall('country'):
    country_name = country.find('name')
    infant_mortality_value = country.find('infant_mortality')
        
    infant_mortality = (
        infant_mortality_value.text
        if infant_mortality_value is not None
        else np.nan )
    country_data.append([country_name.text,infant_mortality])

question_1 = pd.DataFrame(data=country_data,columns=['country_name','infant_mortality_rate'])

In [94]:
question_1.sort_values(by='infant_mortality_rate').head(10)

             country_name infant_mortality_rate
38                 Monaco                  1.81
30                Romania                 10.16
153                  Fiji                  10.2
69                 Brunei                 10.48
132               Grenada                  10.5
237             Mauritius                 10.59
124                Panama                  10.7
243                    []                 10.77
102  United Arab Emirates                 10.92
113              Barbados                 10.93

## 2. 10 cities with the largest population

In [114]:
city_populations = []

for country in roots.findall('country'):
    country_name = country.find('name')

    for city in country.findall('city'):
        city_name = (city.find('name')
            if city_name is not None
            else np.nan)
        population = (city.find('population')
            if population is not None
            else np.nan)
        
city_populations.append([city_name.text,population])

In [115]:
city_populations

[['Victoria', <Element 'population' at 0x1243a61b0>]]

In [116]:
city_populations = []

for country in roots.findall('country'):
    country_name = country.find('name').text if country.find('name') is not None else np.nan

    for city in country.findall('city'):
        city_name_elem = city.find('name')
        city_name = city_name_elem.text if city_name_elem is not None else np.nan

        # Extract all population entries under city
        population_entries = city.findall('population')
        latest_population = np.nan
        latest_year = -1

        for pop in population_entries:
            year = pop.attrib.get('year')
            value = pop.text

            if year and value:
                year = int(year)
                value = float(value)

                if year > latest_year:
                    latest_year = year
                    latest_population = value

        city_populations.append([city_name, latest_population])

In [117]:
city_populations

[['Tirana', 418495.0],
 ['Shkodër', 77075.0],
 ['Durrës', 113249.0],
 ['Vlorë', 79513.0],
 ['Elbasan', 78703.0],
 ['Korçë', 51152.0],
 ['Skopje', 514967.0],
 ['Kumanovo', 107745.0],
 ['Beograd', 1639121.0],
 ['Novi Sad', 335701.0],
 ['Niš', 257867.0],
 ['Podgorica', 150977.0],
 ['Prishtine', 198214.0],
 ['Andorra la Vella', 22256.0],
 ['Vaduz', 5207.0],
 ['Ljubljana', 282994.0],
 ['Maribor', 111374.0],
 ['Rīga', 696618.0],
 ['Vilnius', 538747.0],
 ['Kaunas', 307498.0],
 ['Klaipeda', 158891.0],
 ['Luxembourg', 99852.0],
 ['Zagreb', 686568.0],
 ['Split', 165893.0],
 ['Rijeka', 127498.0],
 ['Osijek', 83496.0],
 ['Zadar', 70674.0],
 ['Sofia', 1270284.0],
 ['Plovdiv', 331796.0],
 ['Varna', 330486.0],
 ['Burgas', 197301.0],
 ['Ruse', 146609.0],
 ['Stara Zagora', 136363.0],
 ['Tallinn', 399340.0],
 ['Tartu', 103284.0],
 ['Tórshavn', 13130.0],
 ['Monaco', 975.0],
 ['Gibraltar', nan],
 ['Saint Peter Port', nan],
 ['Vatican City', 842.0],
 ['Ceuta', 82376.0],
 ['Melilla', 78476.0],
 ['Reykjavik', 120879.0],
 ['Keflavik', 14821.0],
 ['Hafnarfjordur', 27870.0],
 ['Akureyri', 17195.0],
 ['Dublin', 525383.0],
 ['Cork', 118912.0],
 ['Galway', 75414.0],
 ['Limerick', 56779.0],
 ['San Marino', 4227.0],
 ['Saint Helier', nan],
 ['Valletta', 5748.0],
 ['Victoria', 6252.0],
 ['Douglas', nan],
 ['Chişinău', 663400.0],
 ['Tiraspol', 148917.0],
 ['Bălţi', 143300.0],
 ['Longyearbyen', nan],
 ['Kabul', 2435400.0],
 ['Herat', 335200.0],
 ['Kandahar', 311800.0],
 ['Mazar-i-Sharif', 288700.0],
 ['Yerevan', 1066264.0],
 ['Tbilisi', 1073345.0],
 ['Kutaisi', 185965.0],
 ['Batumi', 121806.0],
 ['Sokhumi', 62914.0],
 ['Baku', 2150800.0],
 ['Ganja', 322600.0],
 ['Sumgayit', 290500.0],
 ['Al Manāmah', 143035.0],
 ['Thimphu', 42465.0],
 ['Bandar Seri Begawan', 279924.0],
 ['Vientiane', 698318.0],
 ['Chiang Mai', 336007.0],
 ['Nakhon Ratchasima', 213577.0],
 ['Bangkok', 8305218.0],
 ['Nonthaburi', 415138.0],
 ['Khon Kaen', 416475.0],
 ['Nakhon Si Thammarat', 105592.0],
 ['Songkhla', 183666.0],
 ['Samut Prakan', 681000.0],
 ['Chon Buri', 321149.0],
 ['Phuket', 258480.0],
 ['Phnom Penh', 703963.0],
 ['Pyongyang', 3255288.0],
 ['Hamhung-Hungnam', 768551.0],
 ['Chongjin', 667929.0],
 ['Nampho', 366815.0],
 ['Sunchon', 297317.0],
 ['Sinuiju', 359341.0],
 ['Tanchon', 345875.0],
 ['Wonsan', 363127.0],
 ['Tokchon', 237133.0],
 ['Kanggye', 251971.0],
 ['Haeju', 273300.0],
 ['Anju', 240117.0],
 ['Kim Chaek', 207299.0],
 ['Kusong', 196515.0],
 ['Huichon', 168180.0],
 ['Sinpho', 152759.0],
 ['Kaesong', 308440.0],
 ['Kaechon', 319554.0],
 ['Sariwon', 307764.0],
 ['Bishkek', 987600.0],
 ['Osh', 265200.0],
 ['Hong Kong', 7055071.0],
 ['Macao', nan],
 ['Ulaanbaatar', 760077.0],
 ['Kathmandu', 1003285.0],
 ['Pokhara', 264991.0],
 ['Lalitpur', 226728.0],
 ['Biratnagar', 204949.0],
 ['Flying Fish Cove', nan],
 ['West Island', nan],
 ['Lefkosia', 55014.0],
 ['Larnaka', 51468.0],
 ['Lemesos', 101000.0],
 ['Gaza', 631215.0],
 ['Hurghada', nan],
 ['Marsa Matruh', nan],
 ['Damanhur', 241895.0],
 ['Kafr ad Dawwar', 262748.0],
 ['Al Mansurah', 437311.0],
 ['Tanta', 421076.0],
 ['Al Mahallah al Kubra', 442884.0],
 ['Al Ismailiyah', 300449.0],
 ['Shibin al Kum', 177060.0],
 ['Banha', 158389.0],
 ['Shubra al Khimah', 1016722.0],
 ['Az Zaqaziq', 302611.0],
 ['Aswan', 265004.0],
 ['Asyut', 386086.0],
 ['Bani Suwayf', 193535.0],
 ['Al Fayyum', 316772.0],
 ['Al Jizah', 2681863.0],
 ['Al Minya', 235234.0],
 ['Qina', 206831.0],
 ['Al Uqsur', 451318.0],
 ['Suhaj', 189638.0],
 ['Bur Said', 570768.0],
 ['Al Iskandariyah', 4123869.0],
 ['Al Qahirah', 8471859.0],
 ['As Suways', 510935.0],
 ['Dili', 193563.0],
 ['Port Moresby', 318128.0],
 ['Amman', 1812941.0],
 ['Zarqa', 395227.0],
 ['Irbid', 250645.0],
 ['Al Kuwayt', 637411.0],
 ['Bayrūt', 1100000.0],
 ['Ramallah', nan],
 ['Nablus', 156906.0],
 ['Al Khalil', 201063.0],
 ['Seoul', 9805506.0],
 ['Busan', 3440484.0],
 ['Daegu', 2461002.0],
 ['Incheon', 2913024.0],
 ['Gwangju', 1501557.0],
 ['Daejeon', 1535445.0],
 ['Ulsan', 1166033.0],
 ['Suwon', 1207032.0],
 ['Seongnam', 951518.0],
 ['Jeonju', 657766.0],
 ['Changwon', 1053551.0],
 ['Cheongju', 840338.0],
 ['Jinju', 352807.0],
 ['Mokpo', 237484.0],
 ['Jeju', 462286.0],
 ['Gunsan', 276394.0],
 ['Chuncheon', 283027.0],
 ['Yeosu', 273925.0],
 ['Goyang', 999098.0],
 ['Yongin', 982590.0],
 ['Bucheon', 844043.0],
 ['Ansan', 743072.0],
 ['Anyang', 582049.0],
 ['Male', 133019.0],
 ['Muscat', 27216.0],
 ['As Seeb', 302992.0],
 ['Abu Dhabi', 1202756.0],
 ['Al Ain', 426205.0],
 ['Dubai', 2401067.0],
 ['Al Sharjah', 1274729.0],
 ['Sanaa', 1527861.0],
 ['Aden', 570551.0],
 ['Taizz', 458933.0],
 ['al Hudaydah', 402560.0],
 ['Doha', 339847.0],
 ['Al Rayyan', 272860.0],
 ['Singapore', 5076700.0],
 ['Sri Jayawardhanapura', 116366.0],
 ['Colombo', 647100.0],
 ['Taipei', 2673226.0],
 ['New Taipei', 3939305.0],
 ['Changhua', 236636.0],
 ['Hualien', 108077.0],
 ['Pingtung', 207862.0],
 ['Taitung', 107720.0],
 ['Taoyuan', 413488.0],
 ['Jhongli', 376217.0],
 ['Chiayi', 271220.0],
 ['Keelung', 377153.0],
 ['Hsinchu', 425071.0],
 ['Kaohsiung', 2778659.0],
 ['Taichung', 2684893.0],
 ['Tainan', 1881645.0],
 ['The Valley', nan],
 ["St. John's", 22219.0],
 ['Oranjestad', nan],
 ['Nassau', 248948.0],
 ['Bridgetown', 88529.0],
 ['Belmopan', 13654.0],
 ['Belize City', 53532.0],
 ['Ciudad de Guatemala', 992541.0],
 ['Mixco', 483705.0],
 ['Villa Nueva', 527174.0],
 ['Cobán', 232703.0],
 ['Chichicastenango', 252833.0],
 ['Hamilton', nan],
 ['Road Town', nan],
 ['George Town', nan],
 ['Managua', 1028808.0],
 ['León', 201100.0],
 ['Chinandega', 133361.0],
 ['Masaya', 166588.0],
 ['Granada', 123697.0],
 ['Matagalpa', 150643.0],
 ['Tipitapa', 130627.0],
 ['Jinotega', 123548.0],
 ['Estelí', 122924.0],
 ['Roseau', 14725.0],
 ['Santo Domingo', 2749703.0],
 ['Santiago', 591985.0],
 ['Port-au-Prince', 875978.0],
 ['Carrefour', 430250.0],
 ['Delmas', 359451.0],
 ['Pétion-Ville', 271175.0],
 ['Cité Soleil', 241055.0],
 ['Gonaïves', 228725.0],
 ['Cap-Haïtien', 155505.0],
 ['San Salvador', 354174.0],
 ['Soyapango', 268228.0],
 ['Mejicanos', 157188.0],
 ['Ciudad Delgado', 129965.0],
 ['Apopa', 143718.0],
 ['Santa Ana', 245421.0],
 ['Santa Tecla', 126353.0],
 ['San Miguel', 218410.0],
 ['Nuuk', nan],
 ["Saint George's", 37000.0],
 ['Basse-Terre', nan],
 ['Kingston', 662426.0],
 ['Fort-de-France', 100000.0],
 ['Plymouth', 0.0],
 ['Brades', nan],
 ['Willemstad', 125000.0],
 ['Philipsburg', 1338.0],
 ['Marigot', 5700.0],
 ['Gustavia', 2299.0],
 ['San Juan', 381931.0],
 ['Ponce', 132502.0],
 ['Bayamón', 185996.0],
 ['Carolina', 157832.0],
 ['Basseterre', 15500.0],
 ['Castries', 3661.0],
 ['Saint-Pierre', 5618.0],
 ['Kingstown', 12909.0],
 ['Port-of-Spain', 548299.0],
 ['Grand Turk', nan],
 ['Charlotte Amalie', 10354.0],
 ['Pago Pago', nan],
 ['Avarua', nan],
 ['Suva', 75225.0],
 ['Papeete', nan],
 ['Hagåtña', nan],
 ['Tarawa', 50182.0],
 ['Majuro', 27797.0],
 ['Kolonia', 5681.0],
 ['Palikir', 6444.0],
 ['Yaren', nan],
 ['Noumea', 99926.0],
 ['Wellington', 185187.0],
 ['Auckland', 419418.0],
 ['Hamilton', 132060.0],
 ['Christchurch', 361941.0],
 ['Dunedin', 123516.0],
 ['Alofi', nan],
 ['Kingston', nan],
 ['Saipan', nan],
 ['Koror', 11665.0],
 ['Melekeok', 391.0],
 ['Adamstown', 56.0],
 ['Honiara', 49107.0],
 ['Nukualofa', 23658.0],
 ['Funafuti', 4492.0],
 ['Fakaofo', 490.0],
 ['Port Vila', 44040.0],
 ['Mata-Utu', nan],
 ['Apia', 36735.0],
 ['Asunción', 518792.0],
 ['Ciudad del Este', 222274.0],
 ['Montevideo', 1318755.0],
 ['Salto', 104011.0],
 ['Cayenne', 57229.0],
 ['Georgetown', 118363.0],
 ['Paramaribo', 240924.0],
 ['Quito', 1619146.0],
 ['Guayaquil', 2291158.0],
 ['Cuenca', 331888.0],
 ['Santo Domingo de los Colorados', 305632.0],
 ['Stanley', nan],
 ['Algiers', 2364230.0],
 ['Annaba', 342703.0],
 ['Batna', 289504.0],
 ['Béchar', 165241.0],
 ['Sidi Bel Abbës', 210146.0],
 ['Skikda', 182903.0],
 ['Tébessa', 194461.0],
 ['Oran', 803329.0],
 ['Constantine', 448028.0],
 ['Sétif', 252127.0],
 ['Blida', 331779.0],
 ['Bejaïa', 176139.0],
 ['Mostaganem', 162885.0],
 ['Ech Chelif', 155134.0],
 ['Tlemcen', 173531.0],
 ['Tougourt', 143270.0],
 ['Ghardaïa', 142913.0],
 ['El Djelfa', 265833.0],
 ['Biskra', 204661.0],
 ['Laghouat', 134372.0],
 ['Tamanrasset', 92635.0],
 ['Tripoli', 1500000.0],
 ['Benghazi', 800000.0],
 ['Misratah', 360000.0],
 ['Tunis', 651284.0],
 ['Sfax', 299235.0],
 ['Sousse', 223844.0],
 ['El Aaiun', 183691.0],
 ['Windhoek', 322500.0],
 ['Porto-Novo', 223552.0],
 ['Cotonou', 665100.0],
 ['Abomey-Calavi', 307745.0],
 ['Djougou', 181895.0],
 ['Ouagadougou', 1475223.0],
 ['Bobo Dioulasso', 489967.0],
 ['Lomé', 839566.0],
 ['Gaborone', 227333.0],
 ['Francistown', 100079.0],
 ['Harare', 1485231.0],
 ['Bulawayo', 653337.0],
 ['Chitungwiza', 356840.0],
 ['Bujumbura', 497166.0],
 ['Gitega', 41944.0],
 ['Kigali', 603049.0],
 ['Bangui', 622771.0],
 ['Bimbo', 124176.0],
 ["N'Djamena", 951418.0],
 ['Libreville', 538195.0],
 ['Port-Gentil', 105712.0],
 ['Franceville', 103840.0],
 ['Praia', 131719.0],
 ['Juba', 372410.0],
 ['Moroni', 41557.0],
 ['Conakry', 1667864.0],
 ["N'Zérékoré", 194178.0],
 ['Monrovia', 1010970.0],
 ['Djibouti', 475322.0],
 ['Asmara', 775000.0],
 ['Mogadishu', nan],
 ['Mombasa', 938131.0],
 ['Malindi', 118265.0],
 ['Machakos', 150041.0],
 ['Nairobi', 3133518.0],
 ['Kisumu', 388311.0],
 ['Nakuru', 307990.0],
 ['Eldoret', 289380.0],
 ['Banjul', 357238.0],
 ['Bissau', nan],
 ['Freetown', 772873.0],
 ['Bo', 149957.0],
 ['Maseru', 330760.0],
 ['Antsiranana', 59040.0],
 ['Antananarivo', 710236.0],
 ['Antsirabe', 126062.0],
 ['Fianarantsoa', 109260.0],
 ['Majunga', 106780.0],
 ['Tamatave', 137782.0],
 ['Toliara', 80826.0],
 ['Lilongwe', 674448.0],
 ['Blantyre', 661256.0],
 ['Port Louis', nan],
 ['Mamoutzou', nan],
 ['Mbabane', 57992.0],
 ['Saint-Denis', 145347.0],
 ['Saint-Paul', 103916.0],
 ['Jamestown', nan],
 ['São Tomé', 49957.0],
 ['Victoria', 24970.0]]

## 3. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [140]:
airports = []

for airport in roots.findall('airport'):
    name_element = airport.find('name')
    elevation_element = airport.find('elevation')

    airport_name = name_element.text if name_element is not None else np.nan
    elevation = float(elevation_element.text) if elevation_element is not None else np.nan

    airports.append([airport_name,elevation])

In [143]:
airports_df = pd.DataFrame(data= airports,columns=['airport_name','elevation'])

In [145]:
highest_airport = airports_df.sort_values(by='elevation', ascending=False).head(1)

highest_airport

    airport_name  elevation
81  El Alto Intl     4063.0